body {
  min-height: 2000px;
	background-color: #FFF;
	color: #333333;
	margin: 0px;
	padding: 0px;
  font-family: 'futura-pt', sans-serif;
	font-weight: 100;
}

.navbar-brand {
  font-style:normal;
}

.dropdown-menu > .active > a{
	color: #333;
	background-color: #e7e7e7;
}

img {
    width: 100%;
    height: inherit;
		z-index: -1;
}

h1{
	color: #333;
	font-weight: 100;
	font-size: 10em;
	text-align: center;
}

h2{
	color: #333;
	font-weight: 100;
	font-size: 5em;
	text-align: center;
}

h3{
	font-family: 'Abril Fatface', cursive;
	color: #333;
	font-weight:100;
	font-size: 2.5em;
	text-align: left;
}

p{
	font-family: 'Cormorant Garamond','EB Garamond', serif;
	font-weight:semi-bold,100;
	color: #333;
	font-weight: 100;
	font-size: 1em;
	text-align: left;
}

.cover{
	position:relative;
}

.cover-text-white{
	position:absolute;
	font-size: 10vw; /*scaled to viewport width	*/
	color: #fff;
	top: 40%;
	width:100%;
	text-align:center;}

a{
  color: #333;
}
